body, html{
  height: 100%;
  background-image: url(./Assets/backgroundCloud.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mathManiaPadding {
  padding-top: 15%;
}

.mathManiaButtonPadding {
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

.pressStart {
  padding-top: 5%;
}

h3 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.levelSelectTitle {
  padding-top: 3%;
}

.arrowPadding {
  padding-left: 2%;
}

.cloudPadding {
  padding-top: 2%;
}

.whiteScoreQuestion {
  color: #FFFFFF
}

.scorePadding {
  padding-left: 2%;
}

.TimeCard {
  padding-top: 11%;
  padding-left: 14%;
  padding-right: 8%;
  color: #020269;
}

.timePadding {
  padding-top: 3%;
}

.equationPadding {
  padding-top: 30%;
}

.equationBold {
  font-weight: 800;
  font-size: 50px;
  color: #020269;
}

.trueFalseCard {
  padding-top: 20%;
  padding-left: 2%;
  padding-right: 2%;
}

.h2TrueFalse {
  color: black;
}